* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
    font-size: 1.5em;
    padding: 0 0.25em;
}

pre {
    color: #fff;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-shadow: 0 0 10px #ccc;
}

#input {
    border-bottom: 1px solid #ccc;
    background-color: #383838;
    padding: 0.25em;
    outline: 0;
}

#input::before {
    content: "> "
}